{% extends "base.html" %}
{% load staticfiles %}
{% load avatar_tags %}

{% block content %}
<div class="container">
<div class="row">

<div class="col-md-2 col-sm-4 col-xs-12">
{% if user.is_authenticated %}
	{% avatar user %}
	<a href="{% url 'avatar_change' %}">Change avatar</a>
{% endif %}
</div>

<div class="col-md-8 col-sm-8 col-xs-12">
{% if user.is_authenticated %}

<p>{{ profile.first_name }} {{ profile.last_name }}</p>
<p>{{ profile.date_of_birth.date }}</p>
<p>{{ profile.cell_number }}</p>
<p>{{ profile.bio }}</p>
<p>{{ profile.user }}</p>

{% endif %}
</div>

</div>
</div>
{% endblock %}